{% extends 'base_adm.html' %}
{% block titulo %}Cadastro de Livros{% endblock %}

{% block body %} 
<br>
        <div class="row">
            <div class="col-md-3">

        </div>
        <div class="col-md-4">
            <h1>Cadastre o Livro</h1>
            <hr>
            <form method="POST" action="{%url 'validar_livros'%}"> {% csrf_token %}

                <label for="">Nome do livro:</label>
                <input name="nome" class="form-control" type="text" placeholder="Nome do Livro...">
             
                <label for="">Autor:</label>
                <input name="autor" class="form-control" type="text" placeholder="Autor do Livro...">
               
                <label  for="">ISBN:</label>
                <input name="isbn" class="form-control "type="text" placeholder="ISBN...">
                
                <label for="">Editora:</label>
                <input name="editora" class="form-control" type="tel" placeholder="Editora...">
               
                <label for="">Ano de Publicação:</label>
                <input name="ano_publicacao" class="form-control" type="number" placeholder="Ano da Publicação:..."> 
                
               
                <label for="">Descrição(Opcional):</label>
                <input name="descricao" class="form-control" type="text" placeholder="Descrição:..."> 
               
               <label for="">Selecione o Gênero:</label>
               <select  class = 'form-control' name="genero" id="genero">
                <option value="Ficção">Ficção</option>
                <option value="Aventura">Aventura</option>
                <option value="Ação">Ação</option>
                <option value="Romance">Romance</option>
                <option value="Documentação">Documentação</option>
               </select>
                
               <br>
               <br>
                <input  class="btn btn-primary" type="submit" value="Enviar">
            
            </form>
        </div>
        
        </div>
    </div>
{% endblock %}
