{% extends 'base_adm.html' %}
{% block titulo %}Cadastro de emprestimo{% endblock %}

{% block body %} 

        <div class="row">
            <div class="col-md-3">

        </div>
        <div class="col-md">
            <h1>Cadastre o Emprestimo</h1>
            <hr>
            <form method="POST" action="{%url 'cadastrar_emprestimo'%}"> {% csrf_token %}
                <br>
                <p>{{emprestimo.nome_emprestado}}</p>
                <label for="">Livro que vai emprestar: </label>
                <select name="usuario" id="usuario">
                 {% for livros in livros %}
                 <option value="1">{{livros.nome}}</option>
                 {% endfor %}
                </select>
                <br>
                <label for="">Usuario para fazer Emprestimo: </label>
                <select name="usuario" id="usuario">
                 {% for usuario in usuarios %}
                 <option value="1">{{usuario.nome}}</option>
                 {% endfor %}
                </select>
                
               <br>
               <br>
                <a href="" class="btn btn-warning">Emprestar</a>
            
            </form>
        </div>
        
        </div>
    </div>
{% endblock %}
