{% extends "usuario_leitor.html" %}

{% block body %}
<div class="container">
    <div class="row">
        {% for livros in livros_cadastrados%}
        {% if livros.emprestado == False %}
        <div class="col-md">
            <br>
            <br>
            <div class="card" style="width: 18rem;">
                <div style='text-align: center' class="card-body">
                  <h5 class="card-title">{{livros.nome}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{livros.autor}}</h6>
                  <!-- <p class="card-text">{{livros.descricao}}</p> -->
                  <!-- <p class="card-text">Data Cadastro: {{livros.data_cadastro}}</p> -->
                    <p class="card-text">ISBN: {{livros.isbn}}</p>
                   <!-- card -->
                    
                    <!-- card -->
                 {% if livros.emprestado %}
                 Livro emprestado
                 <svg style= 'color:green' xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                  </svg>
                 {% else %}
                 Livro Disponivel
                 <svg style= 'color:green' xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                  </svg>
                 {% endif %}
                 <br>
                 <br>
                  <a href="{% url 'ver_livros_leitor' livros.id %}" class="btn btn-primary">Ver livro</a>
                  <br>
               
                  
                </div>
                <a href="{% url 'ver_livros_leitor' livros.id %}" class="btn btn-danger">Solicitar Emprestimo</a>
              </div>
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>

{% endblock  %}