{% extends 'base.html' %}
{% block titulo %}Login{% endblock  %}

{% block body %} 
    <div class="container">
        <br>
        {% if status == '1'%}
        <div class= "alert alert-danger" role="alert">
        Email ou senha inválidos!
        </div>
        {% endif %}
        {% if status == '2'%}
        <div class= "alert alert-danger" role="alert">
        Faça login para tentar acessar o sistema
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">

        </div>
        <div class="col-md">
            <h1>Faça Login agora mesmo!</h1>
            <hr>
            <form method="POST" action="{% url "valida_login" %}"> {% csrf_token %}

                <label for="">Email:</label>
                <input name="email" class="form-control" type="email" placeholder="Email...">
                <label  for="">Senha:</label>
                <input name="senha" class="form-control "type="password" placeholder="Senha...">
               <br>
               <br>
                <input  class="btn btn-primary"  type="submit" value="Enviar">
            
            </form>
        </div>
        
        </div>
    </div>
{% endblock %}
